{% extends "layout.html" %}
{% block title %}Book{% endblock %}
{% block create_account_active %}active{% endblock %}
{% block content %}

<main role="main" class="container">

    


<form action="{{ url_for('core_gomden_blueprint.existingbook', bookid=bookid) }}" method="post">



      <div class="album py-5 bg-light">
        <div class="container">

            <div style="float: left; width: 70%;">

                  

            <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                <h1>{{booktitle}}</h1><br>

            </div>
            <div class="col-md-2">
            </div>
            </div>



            <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
            {% if edit %}
                <a href="{{ url_for('core_gomden_blueprint.edit_book', bookid=bookid)}}" class="btn btn-primary">Edit book</a><br><br>
            {% elif review %}
                <p><b>Your review</b>: {{review}}</p>
            {% else %}
                <a href="{{ url_for('core_gomden_blueprint.review_book', bookid=bookid)}}" class="btn btn-primary">Review book</a><br><br>
            {% endif %}

            </div>
            <div class="col-md-2">
            </div>
            </div>

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                {% for link in links %}
                    <p><a href="{{link}}">{{link}}</a></p>
                {% endfor %}
            </div>
            <div class="col-md-2">
            </div>

          </div>



          

            <div class="row">   
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                <p>{{reviews|length}} {{ 'review' if reviews|length == 1 else 'reviews'}}</p>

            </div>
            <div class="col-md-2">
            </div>
            </div>

            {% for r in reviews %}

            

            {% set color = "black" if r["perm"] == "PUBLIC" else "grey" %}
            {% set bordercolor = "black" if r["perm"] == "PUBLIC" else "lightgrey" %}

            <div class="row" style='margin-bottom: 20px; color: {{ color }};'>
            <div class="col-md-2">
            </div>
            <div class="col-md-8" style="border: 1px solid {{ bordercolor }};">
                <p style="margin-top: 10px;"><b>Review from {{r["displayname"]}}</b></p>

                

                {% for p in r["paras"] %}

                          <p>{{p}}</p>

                {% endfor %}
            </div>
            <div class="col-md-2">

                {% if r["perm"] == "PUBLIC" %}
                    <button type ="submit" name="make-private" value="{{r['reviewid']}}" class="btn btn-primary" style="float:left;margin-bottom: 30px;">Make private</button>
                {% else %}
                    <button type ="submit" name="make-public" value="{{r['reviewid']}}" class="btn btn-secondary" style="float:left;margin-bottom: 30px;">Make public</button>
                {% endif %}
            </div>
            </div>
            {% endfor %}

{% for p in range(numpdfpages) %}

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                    <a href="{{url_for('core_gomden_blueprint.get_image', bookid=bookid, size='large', pagenum=p+1)}}"><img style="width: 100%" src="{{ url_for('core_gomden_blueprint.get_image', bookid=bookid, size='small', pagenum=p+1) }}"></a>
            </div>
            <div class="col-md-2">
            </div>

          </div>
{% endfor %}

        </div>
      </div>
    </div>

{{ form.csrf_token }}

</form>
</main>
{% endblock %}
