{% extends "layout.html" %}
{% block title %}Review{% endblock %}
{% block newbook_active %}active{% endblock %}
{% block content %}

<main role="main" class="container">


    <h1>Review: {{booktitle}}</h1>


    <div style="width: 100%">
      <div style="float: left; width: 70%;">
        {% for p in paras %}

          <p>{{p}}</p>

        {% endfor %}
      </div>

      <div style="float: right; width: 20%;">
        <img class="book-thumb" src="{{ url_for('core_gomden_blueprint.get_image', bookid=bookid, size='small', pagenum=1) }}">
      </div>
    </div>

    <div >
      <a href="{{ url_for('core_gomden_blueprint.review_book', bookid=bookid) }}" style="margin-top: 20px" type="submit" class="btn btn-primary">Edit review</a>
    </div>

</main>

{% endblock %}
