{% extends "layout.html" %}
{% block title %}Submitted reviews{% endblock %}
{% block myreviews_active %}active{% endblock %}
{% block content %}

<main role="main" class="container">

      <div class="album py-5 bg-light">
        <div class="container">

            <div style="float: left; width: 70%;">

            {% for r in reviews %}

            <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" style="border: 1px solid lightgrey; margin-bottom: 10px;">
                <p style="margin-top: 10px;"><b>Review for <a href="{{url_for('core_gomden_blueprint.existingbook', bookid=r['bookid'])}}">{{r["booktitle"]}}</a></b></p>

                {% for p in r["paras"] %}

                          <p>{{p}}</p>

                {% endfor %}
            </div>
            <div class="col-md-2">
            </div>
            </div>
            {% endfor %}
        </div>
      </div>



</main>
{% endblock %}
