{% extends "layout.html" %}
{% block title %}My books{% endblock %}
{% block mybooks_active %}active{% endblock %}
{% block content %}
<main role="main" class="container">


    <h1>Books by {{user["displayname"]}}</h1>
    <br>


    <div style="width: 100%">
      <div style="float: left; width: 70%;">
        {% for book in books %}

            <h2>{{book["booktitle"]}}</h2>
            
            <p1><a href="{{ url_for('core_gomden_blueprint.existingbook', bookid=book['bookid']) }}">Edit book and/or view {{book["numreviews"]}} public/private {{ 'review' if book["numreviews"] == 1 else 'reviews'}}</a></p>
        
            <p1><a href="{{ url_for('core_gomden_blueprint.publicbookpage', bookid=book['bookid']) }}">Public book page with {{book["numpublicreviews"]}} public {{ 'review' if book["numpublicreviews"] == 1 else 'reviews'}}</a></p>

            <br>

        {% endfor %}
      </div>

    </div>


</main>
{% endblock %}
