{% extends "layout.html" %}
{% block title %}Book{% endblock %}
{% block create_account_active %}active{% endblock %}
{% block content %}

<main role="main" class="container">

    


<form action="{{ url_for('core_gomden_blueprint.existingbook', bookid=bookid) }}" method="post">



      <div class="album py-5 bg-light">
        <div class="container">

        <div>

                  

            <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                <h1>{{booktitle}}</h1><br>

                <p>
                    
                    By {{displayname }}{% if sigbookid != None and sigbookid != bookid%},

                    author of <a href="{{url_for('core_gomden_blueprint.publicbookpage', bookid=sigbookid)}}">{{ sigbooktitle }}</a>
                {% endif %}

                </p>

            </div>
            <div class="col-md-2">
            </div>
            </div>



          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                {% for link in links %}
                    <p><a href="{{link}}">{{link}}</a></p>
                {% endfor %}
            </div>
            <div class="col-md-2">
            </div>

          </div>



          

            

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">

                    <a href="{{url_for('core_gomden_blueprint.get_image', bookid=bookid, size='large', pagenum=1)}}"><img style="width: 50%; float: left; margin-bottom: 15px; margin-right: 15px;" src="{{ url_for('core_gomden_blueprint.get_image', bookid=bookid, size='small', pagenum=1) }}"></a>
            
                {% if reviews|length == 0 %}
                    <p>{{reviews|length}} public {{ 'review' if reviews|length == 1 else 'reviews'}}</p>
                {% endif %}


            {% for r in reviews %}

            


                
                <p style="margin-bottom: 20px;"><b>Review from {{r["displayname"]}}{% if r['sigbookid'] != None %}, author of <a href="{{url_for('core_gomden_blueprint.publicbookpage', bookid=r['sigbookid'])}}">{{r["sigbooktitle"]}}</a>{% else %}

                {% endif %}</b></p>

                

                {% for p in r["paras"] %}

                          <p>{{p}}</p>

                {% endfor %}
            
            {% endfor %}

            </div>
            <div class="col-md-2">
            </div>
            </div>

        </div>
      </div>
    </div>

{{ form.csrf_token }}

</form>
</main>
{% endblock %}
